<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" >

	<display-name>ToxPredict</display-name>
	<description>OpenTox Demo Application</description>
	
	<context-param>
		<param-name>org.restlet.application</param-name>
		<param-value>ambit2.fastox.FastoxApplication</param-value>
		
	</context-param>
	

	<context-param>
		<param-name>org.restlet.component</param-name>
		<param-value>ambit2.fastox.FastoxComponent</param-value>
	</context-param>	
			
	<context-param>
		<param-name>dataset_service</param-name>
		<param-value>/ambit2/dataset</param-value>
	</context-param>
			
	<context-param>
		<param-name>ontology_service</param-name>
		<param-value>/ontology</param-value>
	</context-param>		
				
<!-- javamelody 
       <filter>
                <filter-name>monitoring</filter-name>
                <filter-class>net.bull.javamelody.MonitoringFilter</filter-class>
        </filter>
        <filter-mapping>
                <filter-name>monitoring</filter-name>
                <url-pattern>/*</url-pattern>
        </filter-mapping>
        <listener>
                <listener-class>net.bull.javamelody.SessionListener</listener-class>
        </listener>
-->
	<servlet>
		<servlet-name>RestletServlet</servlet-name>
		<servlet-class>org.restlet.ext.servlet.ServerServlet</servlet-class>
		

		  
	</servlet>	
	<servlet-mapping>
		<servlet-name>RestletServlet</servlet-name>
		<url-pattern>/*</url-pattern>
	</servlet-mapping>
</web-app>
