body {
	font-family: Arial; 	
}
.compoundtable table {
	border-style: none;
	font-size: 14px;
}

.compoundtable td {
	border-color: gray;	
	border-style: dotted;
	font-size: 0.9em;
}

.compoundtable th {
	font-size: 0.9em;
}

.css_right {
	float: right;
}


.pane {
	background:#eee url(images/ui-bg_inset-hard_100_eeeeee_1x100.png) 50% bottom repeat-x;
	color:#222;
}

.search {
	background:#fff;
	color:#222;
}


#container2 {
	clear:left;
	float:left;
	width:100%;
	overflow:hidden;
}
#container1 {
	font-family:Arial,sans-serif;
	float:left;
	width:100%;
	position:relative;
	right:50%;
	padding: 10px 0 0 0;
}
#col1 {
	float:left;
	width:46%;
	position:relative;
	left:52%;
	overflow:hidden;
	text-align:left;
}
#col2 {
	float:left;
	width:46%;
	position:relative;
	left:56%;
	overflow:hidden;
	text-align:right;
	
}
#searchform    { 
	font-size: 14px; 
}
#searchform label { 
	color : #6791d5;font-weight: bold;
	width: 10em; float: left; 
}
#searchform label.error { 
	float: none; color: red; padding-left: .5em; vertical-align: top; 
}
#searchform p { 
	clear: both; 
}
#searchform .submit { 
	margin-left: 12em; 
}
#searchform em { 
	font-weight: bold; padding-right: .75em; vertical-align: top; 
}

h3 {
	color : #6791d5
}
h4 {
	color : #6791d5
}

#searchform a {
	color : #6791d5;
	font-weight:	bold;
}

.pane .q {
	font-size: 0.9em;
}

.pane a {
	font-family: Arial; font-size: 14px; font-weight:	bold; text-decoration: none; color: #6791d5;
}
.pane a:link         { 
	color: #6791d5; 
}
.pane a:visited         { 
	color: #6791d5; 
}
.pane a:active         { 
	color: #FFFFFF; 
}
.pane a:hover          { 
	color: black; 
}
.pane label { 
	font-family: Arial; 
	color : #6791d5;font-weight: bold;
	float: left; 
}