#sidebar {
  position: fixed;
	background-color: #fafafa;
	border: 1px solid #ccc;
  width: 350px;
  top: 50px;
  left: 0px;
	bottom: 0px;
	z-index: 100;
	padding: 0px 25px 0px 8px;
	transition: left 0.5s ease;
	-moz-transition: left 0.5s ease;
	-webkit-transition: left 0.5s ease;
	-o-transition: left 0.5s ease;
	border-radius: 7px;
	box-shadow: 3px 3px 7px #999;
}

#sidebar.hidden {
	left: -360px;
}

#sidebar span.side-open-close {
  position: relative;
	left: 355px;
}

#sidebar .jtox-foldable {
	padding: 5px 5px 10px 5px;
}

#sidebar .content {
	font-size: 80%;
	overflow: scroll;
	height: 95%;
}

#sidebar .side-title {
  position: absolute;
  font-size: 110%;
  font-weight: bold;
  right: -180px;
  width: 100%;
  bottom: 50%;
  text-align: center;
	transform: rotate(270deg);
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);   
  -o-transform: rotate(270deg);  	
  -ms-transform: rotate(270deg);  	
}

#logger {
  position: fixed;
	height: 144px;
  width: 95%;
  right: 0px;
	bottom: 0px;
	z-index: 100;
	transition: bottom 0.5s ease;
	-moz-transition: bottom 0.5s ease;
	-webkit-transition: bottom 0.5s ease;
	-o-transition: bottom 0.5s ease;
	box-shadow: -3px 7px 7px #999;
}

#logger.hidden {
  bottom: -120px;
}

#browser, #searchbar {
  margin-left: 35px;
}

#browser {
  margin-top: 15px;
}

#browser {
  position: relative;
  top: 0px;
	transition: top 0.3s ease 0.2s;
	-moz-transition: top 0.3s ease 0.2s;
	-webkit-transition: top 0.3s ease 0.2s;
	-o-transition: top 0.3s ease 0.2s;
}
