body {
	background:#fff;
	color:#222222
}

h1, h2, h3 {
	color: #729203;
	font-weight: bold; }
		
h4, h5, h6 {
	color: #222222;
	font-weight: normal; 
}

.h1 { font-size: 46px; line-height: 50px; margin-bottom: 14px;}
.h2 { font-size: 35px; line-height: 40px; margin-bottom: 10px; }
.h3 { font-size: 28px; line-height: 34px; margin-bottom: 8px; }
.h4 { font-size: 21px; line-height: 30px; margin-bottom: 4px; }
.h5 { font-size: 17px; line-height: 24px; }
.h6 { font-size: 14px; line-height: 21px; }

.h1, .h2, .h3 {
	color: #729203;
	font-weight: bold; }
		
.h4, .h5, .h6 {
	color: #222222;
	font-weight: normal; }


.compoundtable table {
	border:1px;
	border-color: gray;	
	border-collapse: collapse;
	border-style: dotted;
	font-size: 1em;
}

.compoundtable td {
	font-size: 0.9em;
}

.compoundtable th {
	font-size: 1em;
}

.css_right {
	float: right;
}


.pane {
	background:#222222;
	color:#ffffff;
}

.search {
	background:#fff;
	color:#222222;
}


#container2 {
	clear:left;
	float:left;
	width:100%;
	overflow:hidden;
}
#container1 {
	font-family:Arial,sans-serif;
	float:left;
	width:100%;
	position:relative;
	right:50%;
	padding: 10px 0 0 0;
}
#col1 {
	float:left;
	width:46%;
	position:relative;
	left:52%;
	overflow:hidden;
	text-align:left;
}
#col2 {
	float:left;
	width:46%;
	position:relative;
	left:56%;
	overflow:hidden;
	text-align:right;
	
}
#searchform    { 
	font-size: 1.0em; 
}
#searchform label { 
	color : #222222;font-weight: bold;
	width: 10em; float: left; 
}
#searchform label.error { 
	float: none; color: red; padding-left: .5em; vertical-align: top; 
}
#searchform p { 
	clear: both; 
}
#searchform .submit { 
	margin-left: 12em; 
}
#searchform em { 
	font-weight: bold; padding-right: .75em; vertical-align: top; 
}

#searchform a {
	color : #222222;
	font-weight:	bold;
}

div#header {
	height: 1.5em;
	text-align: left;
}

#header_bottom {
	height: 1.5em;
	background: url("../../images/header-background.png") repeat-x scroll left top;
}


.logo_top-left {
	border: 0;
}

.msg {
	font-size: 0.75em;
	font-weight: bold italic !important;
	color: #ff0000;
}

.help {
	font-size: 0.75em;
	font-weight: bold italic !important;
	color: #729203;
}

.chelp {
	font-size: 0.75em;
	font-weight: bold italic !important;
}

.help  a {
	color: #729203;
}

.details {
	font-size: 0.9em;
	font-weight: !important;
	color: #222222;
}


 
.ui-menu {
	width: 100%;
	text-align: left;
}

  #selectable .ui-selectee {  }
  #selectable .ui-selecting { background: #F2F0E6; color: white; opacity: 0.75;}
  #selectable .ui-selected {  }
  #selectable { list-style-type: none; margin: 0; padding: 0; width: 100%;}
  #selectable li { margin: 3px; padding: 0.4em;  height: 18px; }
  
.long {
   border: solid 0px #F2F0E6 ;
    text-overflow: ellipsis;
    width: 100px;
    display: block;
    overflow: hidden;
    padding: 0px;
}

.longellipsis {
    text-overflow: ellipsis;
    overflow: hidden;
    display: block;
}

.wrap {
	 word-wrap:break-word;
}	

svg {
  font: 10px sans-serif;
  FONT-FAMILY:  Verdana, Arial;
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
  
}

.x.axis line {
  stroke: #fff;
}

.x.axis .minor {
  stroke-opacity: .5;
}

.x.axis path {
  display: none;
}

.y.axis line, .y.axis path {
  fill: none;
  stroke: #000;
}

sup, sub {
  line-height: 0;
}

text.active {
  fill: red;
}

.active {
  color: red;
  font-weight: bold; 
}

.inactive {
  color: green;
  font-weight: bold; 
}

.background {
  fill: #eee;
}

line {
  stroke: #fff;
}

code {
  line-height: 1em;
}

.bar rect {
  fill: #222222;
  shape-rendering: crispEdges;
  stroke: gray;
}
.structresults .ui-selecting { background: #FECA40; border-color: #FECA40; }
.structresults .ui-selected { background: #F39814; border-color: #F39814; }
.structresults { list-style-type: none; margin: 0; padding: 0;  }
.structresults li { margin: 3px; padding: 1px; float: left; width: 155px; min-height: 155px; font-size: 1em; text-align: center; }
 
 .camelCase 
{
    text-transform:capitalize;
}

.substancedetails {
	font-size: 1em;
	font-weight: !important;
	color: #000000;
}

a.qxternal {
	background: url("../../images/external.jpg") no-repeat scroll 0 0 transparent;
	background-position:right;
	padding: 0 20px 0 0;
}


.dataTables_info {
    width: 40%;
}

.dataTables_paginate .fg-button {
	 background :#fff;
	 min-width:3.5em;
	 border:0;
}	

.ambit2 th {
	 border:1px solid #cccccc;
     overflow: hidden;
	 background : #F5F2EB;
	 color : #729203;
	 font-weight: bold;
}

.ambit2 td {
	 border:1px solid #cccccc;
	 overflow: hidden;
}	


#copyright {
	position: fixed;
	height: 30px;
	width: 50%;
	left: 25%;
	top: -20px;
	text-align: center;
	opacity: 0;
}

#copyright p {
	margin: 0px;
	font-size: 1.5em;
	text-align: center;
}

