div.row span.left {
  float: left;
  text-align: left;
  font-weight: bold;
  background-color: #516373;
  color: #99CC00;
  FONT-FAMILY: Verdana, Arial;
  width: 50%;
  }

div.row span.right {
  float: right;
  text-align: right;
  font-weight: bold;
  background-color: #516373;
  color: #729203;
  FONT-FAMILY: Verdana, Arial;
  width: 50%;
  }
  
div.rowwhite span.left {
  float: left;
  text-align: left;
  font-weight: bold;
  background-color: #FFFFFF;
  color: #99CC00;
  FONT-FAMILY: Verdana, Arial;
  width: 10%;
  }

div.rowwhite span.center {
  float: left;
  text-align: left;
  font-weight: bold;
  background-color: #FFFFFF;
  color: #729203;
  FONT-FAMILY: Verdana, Arial;
  width: 90%;
  }  
  
div.rowwhite span.right {
  float: right;
  text-align: left;
  font-weight: bold;
  background-color: #FFFFFF;
  color: #729203;
  FONT-FAMILY: Verdana, Arial;
  width: 20%;
  }  
  
div.footer span.right {
  MARGIN-TOP: 50px;
  margin-right: 7px;
  float: right;
  text-align: right;
  FONT-SIZE: 8pt;
  background-color: #FFFFFF;
  color: #516373;
  FONT-FAMILY: Verdana, Arial;
  width: 100%;
  }
  
div.actions span.center {
  MARGIN-TOP: 50px;
  margin-right: 7px;
  margin-left: 7px;
  float: left;
  text-align: center;
  FONT-SIZE: 10pt;
  background-color: #FFFFFF;
  color: #516373;
  FONT-FAMILY: Verdana, Arial;
  width: 100%;
  font-weight: bold;  
  }

body { 

  margin: 0; 
}

table
{
	COLOR: #516373;
    FONT-SIZE: 10pt;
    MARGIN-TOP: 7px;
    MARGIN-LEFT: 7px;
    MARGIN-RIGHT: 7px;
    FONT-FAMILY: Verdana, Arial;
    TEXT-ALIGN: justify
}

p
{
    COLOR: #516373;
    FONT-SIZE: 10pt;
    MARGIN-TOP: 7px;
    MARGIN-LEFT: 7px;
    MARGIN-RIGHT: 7px;
    FONT-FAMILY: Verdana, Arial;
    TEXT-ALIGN: justify
    
}
ul
{
    COLOR: #516373;
    FONT-SIZE: 10pt;
    MARGIN-TOP: 7px;
    MARGIN-LEFT: 7px;
    MARGIN-RIGHT: 7px;
    FONT-FAMILY: Verdana, Arial;
    TEXT-ALIGN: justify
    
}
br
{
    COLOR: #516373;
    FONT-SIZE: 10pt;
    MARGIN-TOP: 7px;
    MARGIN-LEFT: 7px;
    MARGIN-RIGHT: 7px;
    FONT-FAMILY: Verdana, Arial;
    TEXT-ALIGN: justify
    
}

h2
{
    FONT-SIZE: 14pt;
    COLOR: #516373;
    FONT-WEIGHT: bolder;
    font-weight: bold;  
    FONT-FAMILY: Verdana, Arial
}

h3
{
    FONT-SIZE: 12pt;
    COLOR: #729203;
    FONT-WEIGHT: bolder;
    font-weight: bold;  
    FONT-FAMILY: Verdana, Arial
}

h4
{
    FONT-SIZE: 11pt;
    COLOR: #729203;
    FONT-WEIGHT: bolder;
    font-weight: bold;  
    FONT-FAMILY: Verdana, Arial
}

A:link
{
    FONT-SIZE: 10pt;
    COLOR: #516373;
    FONT-WEIGHT: bolder;
    font-weight: bold;  
    FONT-FAMILY: Verdana, Arial
}
A:visited
{
    FONT-SIZE: 10pt;
    COLOR: #516373;
    FONT-WEIGHT: bolder;
    font-weight: bold;  
    FONT-FAMILY: Verdana, Arial
}
A:active
{
    FONT-SIZE: 10pt;
    COLOR: #516373;
    FONT-WEIGHT: bolder;
    font-weight: bold;  
    FONT-FAMILY: Verdana, Arial
}
A:hover
{
    FONT-SIZE: 10pt;
    COLOR: #99CC00;
    FONT-WEIGHT: bolder;
    font-weight: bold;  
    FONT-FAMILY: Verdana, Arial
}
#div-1a {
 float:left;
 width:320px;
 z-index:99;
}

#div-1 {
 position:relative;
 top:0px;
 left:10px;
 width:100%;
 FONT-FAMILY: Verdana, Arial;	
}

#div-1b1 {
	 float:left;
	 width:30px;
	 height: 350px;
	 FONT-SIZE: 10pt;
	FONT-FAMILY: Verdana, Arial;	
}

#div-1d {
	position:relative;
	width:250px;
	padding: 10px;
  	color: #516373;
  	FONT-SIZE: 10pt;
	FONT-FAMILY: Verdana, Arial;	
}

CAPTION.results
  {
     background-color:#FFFFFF;
     color:#729203;
     border-width:0;
     border-color:#729203;
     text-align:left;
  }

TABLE.results
  { 
     font-family:verdana;
     font-size:10pt;
     background-color:#D9D9B2;
     width:90%;
     border-collapse:collapse;
     border-style:ridge;
     border-color:#FFFFFF;
     border-width:2px;
     
  }

TH.results
  {
  	 font-family:verdana;
     font-size:10pt;
     background-color:#9FD500;
     color:#516373;
     border-style:solid;
     border-width:1px;
     border-color:#FFFFFF;
     text-align:center;
     border-collapse:collapse;
     border-width:0px;
  }
  
TH.results_odd
  {
  	 font-family:verdana;
     font-size:10pt;
     background-color:#93C400;
     color:#516373;
     border-style:solid;
     border-width:1px;
     border-color:#FFFFFF;
     text-align:center;
     border-collapse:collapse;
     border-width:0px;
  }  


TR.results
  { 
     vertical-align:middle;
     border-collapse:collapse;
  }
  
TR.results_even
  { 
  	 border-collapse:collapse;
     vertical-align:middle;
     font-size:10pt;
    background-color:#FFFFFF;
     color:#516373;
     border-width:0px;
     border-color:#FFFFFF;
     text-align:left;     
  }  
  
TR.results_odd
  { 
  	 border-collapse:collapse;
     vertical-align:middle;
     font-size:10pt;
      background-color:#E8EBEE;
     color:#516373;
     border-width:0px;
     
     border-color:#E9ECDD;
     text-align:left;     
  }   

TD.results_col
  {  
  	 border-collapse:collapse;
     vertical-align:middle;
     font-size:10pt;
    background-color:#F1F3F5;
     color:#516373;
     border-width:0px;
     border-color:#FFFFFF;
     text-align:left;   
  }

TD.results
  {  
     font-size:10pt;
     background-color:#F9FFE6;
     color:#516373;
     border-width:0px;
     border-color:#F9FFE6;
     text-align:left;
  }